@font-face {
  font-family: Metropolis-bold;
  src: url("font/Metropolis-Bold.otf");
}

body {
  background-color: #93b5c6;
  font-family: Metropolis-bold;
}

#joke {
  text-align: right;
  font-size: 30px;
}

#datehour {
  text-align: justify;
  font-size: 30px;
}

img {
  width: 50px;
  height: 50px;
  /*  display:flex;
    justify-content: center;*/
}

#customNavbar {
  background-color: #c9ccd5;
}

#santé {
  font-size: 30px;
}

.question {
  color: #30475E;
  font-weight: bold;
  font-size: 20px;
}
