body{
    background-color: #89B5AF;
    font-family: cursive;
}

  .bouteille{
position: absolute;
right: 550px;
top: 150px;
    width: 450px;
    height: 500px;
  }

  #joke{
    text-align: right;
    font-size: 20px;
  }

  #dateheure{
    text-align: justify;
    font-size: 20px;
  }