body{
    background-color: #89B5AF;
}

.beer{
    position:absolute;
    width:400px;
    left:300px;
    height:300px;
    top: 200px;
    background:#F8F753;
    border-top:200px white;
    border-bottom:100px white;
  }

  .glass{
    position:absolute;
    width:100px;
    left:700px;
    height:150px;
    top:300px;
    background: transparent;
    border-right:100px solid white;
    border-top:100px solid white;
    border-bottom:100px solid white;
    border-radius:0 200px 200px 0;
  }


  .bottle{
    position: absolute;
    width:250px;
    height:300px;
  }